<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="responsive">
      <section class="bg">
        <img src="../assets/img/background.jpg">
      </section>
      <section class="login_section">
        <div class="login_content">
          <div class="tittle_container">
            <h1>Ecommerce</h1>
          </div>
          <div class="form_content">
            <form action="#" method="post">
              <input type="text" name="uname" placeholder="Nombre de usuario" required>
              <input type="password" name="password" placeholder="Contraseña" required>
              <button type="submit" name="button">Iniciar sesión</button>
            </form>
          </div>
          <div class="forgot_password_link">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="signup_container">
            <span>¿No tienes una cuenta?</span>
            <a href="#">¡Registrate!</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
